body {
  //background: #333333;
}

header {
  background: #222222;
  h1{
    text-transform: uppercase;
    text-align: center;
    color: #f3f3f3;
  }
}

#todo-form {
  width: 100%;
  background: #f4f4f4;
}

.completed {
  text-decoration: line-through;
}
