<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="dist/angular-material.css">
    <link rel="stylesheet" href="css/material-icons.css">
    <script src="dist/angular.js"></script>
    <script src="dist/angular-material.js"></script>
    <script src="dist/angular-animate.js"></script>
    <script src="dist/angular-aria.js"></script>
    <script src="js/app.js"></script>
    <title>Todo list in AngularJS</title>
</head>
<body ng-app="todoApp" ng-cloak>
    <main>
        <section ng-controller="todoCtrl">
            <div layout="row">
                <header flex="100">
                    <h1 title="TodoList">Todo List</h1>
                    <md-button id="btn-addtask" class="md-fab" type='submit'>
                        {{remaining}}
                    </md-button>
                </header>
            </div>
            <div>
                <h2 title="{{title}}">{{title}}</h2>
                <form action="#" id="todo-form" ng-submit="addTodo()"  layout="row">
                    <div flex="95">
                        <md-input-container class="md-block">
                            <label>New task</label>
                            <input autocomplete="off"
                                   autofocus
                                   ng-model="newTodo">
                        </md-input-container>
                        <span class="todo-count">
                            <strong>{{newTodo}}</strong>
                        </span>
                    </div>
                    <div flex="5">
                        <md-button id="btn-addtask" class="md-fab" type='submit'>
                            <md-icon md-svg-src="imgs/icon.svg"></md-icon>
                        </md-button>
                    </div>
                </form>
            </div>
            <h3>All done</h3>
            <input type="checkbox"
                   ng-model="allChecked"
                   ng-click="checkAllTodo(allChecked)">
            <div id="todo-list">
                <md-list-item ng-repeat="todo in todos  | filter:statusFilter | orderBy:'completed'"
                                ng-class="{completed: todo.completed}" >
                    <div class="view-list" layout="row">
                        <p flex="75">{{todo.name}}</p>
                        <div flex="25">
                            <md-checkbox class="toggle" ng-model="todo.completed" ></md-checkbox>
                            <md-button class="destroy" ng-click="deleteTask($index)" >X</md-button>
                        </div>
                    </div>
                </md-list-item>
            </div>
            <footer>
            </footer>
            <md-nav-bar md-selected-nav-item="statusNav">
                <md-nav-item md-nav-href="#/" id="all">All</md-nav-item>
                <md-nav-item md-nav-href="#/active" id="active">Active</md-nav-item>
                <md-nav-item md-nav-href="#/done" id="done">Done</md-nav-item>
            </md-nav-bar>
        </section>
    </main>
</body>
</html>